.hero{
    background-image: 
        linear-gradient(rgba(0,0,0,.20), rgba(0,0,0,.20)),
        url("/images/hero.jpg");

    background-size: cover;
    background-position: center;
    min-height: 70vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    max-width: 700px;
    text-align: center;
    color:whitesmoke;
    padding: 0 24px;
}

.content h1{
    font-size: 56px;
    margin-bottom: 24px;
    line-height: 1.2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.content p{
    font-size: 20px;
    margin-bottom: 36px;
    line-height: 1.6;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.button{
    display: inline-block;
    padding: 16px 36px;
    background: var(--secondary);
    color: white;
    border-radius:999px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}

.button:hover{
    transform: translateY(-2px);
    background: var(--primary);
}

@media (max-width: 768px) {
    .hero{
        min-height: 60vh;
    }

    .content h1{
        font-size: 38px;
    }

    .content p{
        font-size: 18PX;
    }
}